body {
  background-color: steelblue
}

.app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 16px;
}

.login-wrapper {
  min-height: 200px;
  min-width: 300px;
  color: #fff;
  padding: 20px;
  border-top: 5px lightblue solid;
}

.login-input button {
  background: lightblue;
  display: block;
  width: 100%;
  height: 50px;
}

.login-input input {
  display: block;
  padding: 20px;
  width: 100%;
  height: 50px;
  margin: 10px 0px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 40px auto;
  width: 300px;
  padding: 0;
}

ul li {
  display: inline-block;
  margin: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}